/* START Global containers properties */
body {
    font: 18px/1.5 sans-serif;
    background-size: cover;
    background: #252523 url('../images/Code-Background.jpg') no-repeat center center;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #c7c7c7;
    opacity: 0.95;
    border-radius: 30px;
}

.container-no-scroll {
    height: 70vh;
    max-height: 70vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c7c7c7;
}

.footer .copyright p {
    margin: 5px 0 0;
    padding: 0;
}

.footer .social {
    text-align: right;
}

.footer .social ul {
    margin: 5px 0 0;
    padding: 0;
}

.footer .social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
}

/* END Global containers properties */

/* START Title properties */
h1, h2 {
    line-height: 1.2;
    margin: 0.5em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 21px;
}

.main-title {
    color: #b03b2c;
    font-size: 50px;
    margin-top: 1%;
}

.sub-title {
    font-size: 30px;
    color: #ffa600;
}

/* END Title properties */

/* START Text properties */
p {
    margin: 0 0 1em 0;
    text-align: justify;
}

a {
    color: #251871;
}

a:hover {
    text-decoration: none;
}

/* END Text properties */

/* START Image Treatment */

img.icon {
    max-width: 1em;
    max-height: 1em;
    vertical-align: text-top;
}

/* END Image Treatment */

/* Miscellaneous */

.well {
    margin: 4% 0 0 0;
}

.scrollable {
    max-height: 65vh;
    overflow-y: auto;
}

#top-title{
    visibility: hidden;
}

/* START Widgets templating */

.github-widget {
    margin: auto;
}

/* END Widgets templating */
