<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.request.getLocale() }}">
<head>
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" xml:lang="{{ app.request.getLocale() }}"
          content="application/xhtml+xml; charset=utf-8"/>
    <title>{% block title %}{% endblock %} - NM</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>

</header>

{% block maincontent %}{% endblock %}

<footer class="footer">
    {#<div>
        <blockquote class="blockquote blockquote-reverse">
            <footer class="blockquote-footer">{{ 'Développé avec Symfony'|trans }} {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
                <cite title="Source Title"> {{ 'par'|trans }}
                    Nicolas MYLLE</cite></footer>
        </blockquote>
    </div>#}
    <div class="container">
        <div class="col-xs-12 col-md-6 copyright">
            <p>Copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017
                - {{ "now"|date("Y") }} Nicolas MYLLE</p>
        </div>
        <div class="col-xs-12 col-md-6 social">
            <ul>
                <li>
                    <a href="https://github.com/artandor" target="_blank"><img class="icon"
                                                                               src="{{ asset('assets/images/github-logo.png') }}"></a>
                </li>
                <li>
                    <a href="https://gitlab.com/artandor" target="_blank"><img class="icon"
                                                                               src="{{ asset('assets/images/gitlab-logo.png') }}"></a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/8585645/artandor" target="_blank"><img class="icon"
                                                                                                    src="{{ asset('assets/images/stackoverflow-icon.svg') }}"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nicolas-mylle-98b8a5118/" target="_blank"><img class="icon"
                                                                                                        src="{{ asset('assets/images/LinkedIn-Icon.png') }}"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="{{ asset('assets/js/angular/appAngular.js') }}"></script>
    <script src="{{ asset('assets/js/angular/project-list.component.js') }}"></script>

    <script src="{{ asset('assets/js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
