{% extends '::base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/wheelnav.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '@App/includes/wheelnav.html.twig' %}
{% endblock %}
{% block maincontent %}
    <div id="top-title" class="text-center">
        <h1 class="main-title"><strong>NICOLAS MYLLE</strong></h1>
        <h2 class="sub-title">{{ 'Web Developper'|trans }}</h2>
    </div>
    <div class="container container-no-scroll">
        <div class="col-xs-5">
            <div id='piemenu' data-wheelnav
                 data-wheelnav-slicepath='MenuSlice'
                 data-wheelnav-spreader data-wheelnav-spreaderpath='HolderSpreader'
                 data-wheelnav-marker data-wheelnav-markerpath='PieLineMarker'
                 data-wheelnav-rotateoff
                 data-wheelnav-navangle='67.5'
                 data-wheelnav-titleheight='40'
                 data-wheelnav-cssmode
                 data-wheelnav-init>

                <div data-wheelnav-navitemicon='customer' onmouseup='collapseDescription("#aboutme");'></div>
                <div data-wheelnav-navitemicon='pallete' onmouseup='collapseDescription("#skills");'></div>
                <div data-wheelnav-navitemicon='roadmap' onmouseup='collapseDescription("#projects");'></div>
                <div data-wheelnav-navitemicon='mail' onmouseup='collapseDescription("#contact");'></div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1" id="description">
            <div class="collapse in">
                <div id="middle-title" class="text-center">
                    <h1 class="main-title" style="margin-top: 19vh;"><strong>{{ 'Nicolas MYLLE'|trans|upper }}</strong></h1>
                    <h2 class="sub-title">{{ 'Web Developper'|trans }}</h2>
                </div>
            </div>
            <div class="collapse" id="aboutme">
                <div class="well scrollable">
                    <p>
                        {% trans %}
                        Jeune développeur passioné, j'ai crée ce site pour mettre en valeur mon profil de <strong>développeur
                            web</strong>,
                        tant en y affichant mes compétences qu'en les mettant en oeuvre. Le code est donc à <a
                                href="https://github.com/artandor/portfolio" title="My github">disposition</a> pour
                        vous convaincre.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        Je souhaite m'épanouir en tant que <strong>freelance</strong> dans le développement web après
                        avoir
                        pu gagner
                        en
                        expérience en travaillant en agence sur Drupal, Wordpress et Symfony.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        Mon objectif principal ? Travailler <strong>proprement</strong> et fournir une solution de
                        <strong>qualité</strong>,
                        répondant aux
                        attentes du client.
                        Somme toutes, ne pas sacrifier la qualité sur l'autel de la productivité, tout en vous proposant
                        des
                        <u>prix compétitifs</u>.
                        {% endtrans %}
                    </p>
                    <p>
                        <code>
                            if(code.isScalable == true){
                            return 'Good job';
                            }<br/>
                            else
                            return HTTPException('Work more', 500);
                        </code>
                    </p>
                </div>
            </div>
            <div class="collapse" id="skills">
                <div class="well scrollable">
                    <p>
                        {% trans %}
                        Il est, je pense, plus interressant de vous montrer mes compétences graphiquement via une
                        Roadmap
                        plutôt que via une longue liste.
                        <br/>
                        Pour ce faire je vais m'inspirer du repo github que vous trouverez
                        {% endtrans %} <a
                                href="https://github.com/kamranahmedse/developer-roadmap"
                                title="Repository Github Roadmap kamranahmedse">{{ 'ici'|trans }}</a>.
                    </p>
                    <p class="text-center">
                        <a href="{{ path('skills') }}" title="{{ 'my skills'|trans }}"
                           class="btn btn-default">{{ 'Check my skills'|trans }}</a>
                    </p>
                </div>
            </div>
            <div class="collapse" id="projects">
                <div class="well scrollable">
                    <blockquote class="blockquote blockquote-reverse">
                        Tout ce qui est petit est marron.
                        <footer class="blockquote-footer">
                            <cite title="Source Title">
                                Nicolas MYLLE
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="collapse" id="contact">
                <div class="well scrollable text-center">
                    <div class="col-xs-12">
                        <h3>{{ 'Contactez moi ici'|trans }}</h3>
                        {% if app.session.flashBag.has('successSubmit') %}
                            <div class="alert alert-success">
                                {% for flashMessage in app.session.flashBag.get('successSubmit') %}
                                    {{ flashMessage|trans }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form(formContact) }}
                        {% endif %}

                    </div>
                    <h3>{{ 'ou sur les Réseaux Sociaux'|trans }}</h3>
                    <div class="col-xs-12">
                        <h4><img class="icon" src="{{ asset('assets/images/LinkedIn-Icon.png') }}" alt="github icon">
                            Linkedin</h4>
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/nicolas-mylle-98b8a5118"
                                data-format="inline" data-related="false"></script>
                    </div>
                    <div class="col-xs-12 ">
                        <h4><img class="icon" src="{{ asset('assets/images/github-logo.png') }}" alt="github icon">
                            Github
                        </h4>
                        <div class="github-widget text-center" data-username="artandor"></div>
                        <script src="https://unpkg.com/github-card@1.2.1/dist/widget.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
