{% extends '::base.html.twig' %}

{% block title %}{{ 'Projects'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/flip-effect.css') }}">
{% endblock %}

{% block maincontent %}
    <div class="container">
        <h1 class="text-center">{{ 'My projects'|trans }}</h1>
        <p>{% trans %}On this page, you'll find all my professional and personal projects. Not all of them made it to
            prod (firm
            bankrupt, ...) but I'll try to give you as much informations as possible in the project
            detail.{% endtrans %}</p>
        <div class="cols">
            <div class="flip" ontouchstart="this.classList.toggle('hover');">
                <div class="containerflip">
                    {#<div class="front" style="background-image: url(https://unsplash.it/500/500/)">#}
                    <div class="front"
                         style="background-image: url({{ asset('assets/images/projects/maisoncombier-lamaison.bmp') }})">
                        <div class="inner">
                            <h2>Maison Combier</h2>
                            <p></p>
                            <p>{% trans %}Textile E-commerce website{% endtrans %}</p>
                            <span>Drupal 7</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>{% trans %}Inscription form, contact form, product views, breadcrumbs{% endtrans %}</p>
                            <h3>{{ 'Context'|trans }}</h3>
                            <p>{% trans %}Internship in a Web Agency{% endtrans %}</p>
                            <div class="btn-group" role="group" aria-label="links">
                                <a href="" role="button" class="btn btn-default">See detail</a>
                                <a href="http://ecommerce.maison-combier.hb-digit.com/fr/user/login" role="button" class="btn btn-default">Go to website (preprod) ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip" ontouchstart="this.classList.toggle('hover');">
                <div class="containerflip">
                    <div class="front" style="background-image: url({{ asset('assets/images/projects/eugene-home.bmp') }})">
                        <div class="inner">
                            <h2>Eugène Color</h2>
                            <p></p>
                            <p>{% trans %}Hair coloring E-commerce website{% endtrans %}</p>
                            <span>Drupal 8</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <h3>{{ 'Specific tasks'|trans }}</h3>
                            <p>{% trans %}Inscription form, contact form, product views, breadcrumbs{% endtrans %}</p>
                            <h3>{{ 'Context'|trans }}</h3>
                            <p>{% trans %}Internship in a Web Agency{% endtrans %}</p>
                            <div class="btn-group" role="group" aria-label="links">
                                <a href="" class="btn btn-default">See detail</a>
                                <a href="http://www.eugene-color.fr/" class="btn btn-default">Go to website ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
